.sectionAvis {
}
.avis {
  display: grid;
  grid-template-columns: 20% auto;
  height: 90.2%;
  position: relative;

  &__left {
    background-color: $color-primary;
    display: grid;
    grid-template-rows: auto 15rem;
    &--up {
    }
    &--down {
      background-color: $color-grey-light-1;
      text-align: center;
      padding: 2rem;
    }
  }
  &__centre {
    text-align: center;
    margin-top: 5rem;
    &--sondage {
      border-top: 2px solid $color-black;
      display: inline;
      padding-top: 5px;
      color: $color-black-2;
    }
  }
  &__right {
    background-color: $color-white;
    overflow: auto scroll;
    &--header {
      padding: 2rem;
    }
    &--title {
      border-bottom: 1px solid $color-black;
      display: inline-block;
      margin-left: 2rem;
      padding: 0 0.5rem;
    }

    &--date {
    }
    &--statistics {
    }
    &--avislist {
    }
  }
}

.avisHeader {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $color-black;
  padding: 1rem;

  &__GD {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid $color-black;
    border-radius: 5px;
    align-self: center;
    text-align: center;
  }
  &__name {
    align-self: center;
    &--title {
      color: $color-black-2;
    }
  }
}
.surpermarket {
  display: flex;
  justify-content: center;

  &__icon {
    margin-right: 2rem;
  }
}
.grocery {
  display: flex;
  justify-content: center;
  &__icon {
    margin-right: 2rem;
  }
}

.select {
  padding: 6px 6px;
  min-width: 10rem;
  border: none;
  border-radius: 2px;
  margin-bottom: 2rem;
  &:focus {
    border: unset;
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.icon {
  font-size: 2rem;
}

.btn {
  padding: 10px 16px;
  background: $color-error;
  display: inline-block;
  color: $color-grey-light-1;
  border-radius: 2px;
  border: none;
}

.avis-container {
  display: grid;
  grid-template-rows: 8rem 1fr;
  overflow: scroll;
  &--date {
    grid-row: 1 / 1;
  }
  &--statistics {
    grid-row: 2 / 2;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);

    grid-gap: 2rem;
  }
  &--avislist {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
  }
}

.subdate {
  display: flex;
  justify-items: center;

  align-items: center;
  &__droplist {
    display: flex;
    justify-content: space-between;
    justify-items: center;

    margin-right: auto;
    padding: 1.5rem 1.5rem;

    &--title {
      margin-right: 2rem;
      align-items: center;
    }
    &--drop {
      align-items: center;
      &--select {
      }
    }
  }
  &__date {
    display: flex;
    margin-right: 1.5rem;
    align-items: center;

    &--seperator {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 12px;
    }
    &--input {
      padding: 0.7rem;
      border: none;
      background: $color-grey-dark-2;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.select-right {
  background-color: $color-grey-light-2;
  padding: 10px 10px;
  padding-left: 3.5rem;

  min-width: 10rem;
  border: none;
  border-radius: 2px;
  &:focus {
    border: unset;
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
.select-left {
  background-color: $color-grey-dark-1;
  padding: 10px 10px;
  padding-left: 3.5rem;
  min-width: 10rem;
  border: none;
  border-radius: 2px;
  &:focus {
    border: unset;
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.statistic {
  &__1 {
    grid-column: 2 / 3;
  }
  &__2 {
    grid-column: 3 / 4;
  }
  &__3 {
    grid-column: 4 / 5;
  }
  &__4 {
    grid-column: 5 / 6;
  }
}

.box {
  width: 236px;
  height: 192px;
  background-color: $color-grey-light-2;
  border-radius: 8px;
  position: relative;
  //text-align: center;
  margin-bottom: 4rem;
  &__chiffre {
    position: absolute;
    top: 30%;
    left: 24%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 20px;
    color: #000;
  }
  &__text {
    position: absolute;
    text-align: center;
    margin-top: 1rem;
    color: $color-black;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    &--1 {
      top: 40%;
      left: 23%;
    }
    &--2 {
      top: 40%;
      left: 41%;
    }
    &--3 {
      top: 40%;
      left: 28%;
    }
    &--4 {
      top: 40%;
      left: 20%;
      line-height: 1.5;
    }
  }

  &__tage {
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translate(10%, 10%);
    color: $color-grey-dark-1;
    text-align: center;

    &--1 {
      background: $color-error;
      border-radius: 8px;
      padding: 0.5rem 1.5rem;
    }
    &--2 {
      background: $color-error;
      border-radius: 8px;
      padding: 0.5rem 1.5rem;
    }
    &--3 {
      background: $color-success;
      border-radius: 8px;
      padding: 0.5rem 1.5rem;
    }
    &--4 {
      background: $color-success;
      border-radius: 8px;
      padding: 0.5rem 1.5rem;
    }
  }
}

.list-avis {
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  display: flex;
  //padding: 18px 10px 18px 12px;
  padding: 12px 12px;
  background: $color-grey-light-1;
  border-radius: 4px;
  margin: 10px;
  align-items: center;
  //text-align: center;
  &__user {
    //grid-column: 1 / 4;
    display: flex;
    flex: 5;
    align-items: center;
    margin-right: auto;

    &--img {
      border-radius: 8px;
      width: 4.5rem;
      height: 4.5rem;
      margin-right: 10px;
    }
    &--name {
    }
  }

  &__store {
    flex: 3;
    color: $color-grey-dark-3;
    &--title {
    }
    &--name {
      color: $color-black;
      margin-top: 4px;
    }
  }

  &__recommend {
    //grid-column: 6 / 8;
    margin-right: auto;
    flex: 3;
    color: $color-grey-dark-3;
    &--oui {
      margin-top: 4px;
      color: $color-black;
    }
  }
  &__note {
    // grid-column: 8 / 10;
    flex: 2;
    color: $color-grey-dark-3;

    &--chiffre {
      color: $color-black;
      margin-top: 4px;
    }
  }
  &__phone {
    // grid-column: 10 / 11;
    flex: 1;

    //align-self: center;
    &--icon {
      background: $color-success;
      //display: block;
      width: 35px;
      height: 35px;
      border-radius: 8px;
      padding: 4px;
      //font-size: 30rem;
      //opacity: 0.1;
      align-self: center;
      color: $color-grey-dark-3;
    }
  }
  &__details {
    // grid-column: 11 / -1;
    flex: 1;
    background: $color-grey-dark-2;
    padding: 8px 16px;
    border-radius: 4px;
    color: $color-grey-dark-3;
  }
}

.user {
  display: flex;
  justify-content: space-between;
}
