* {
  //Applaying 0 padding and margin to each element in html page, to start clean
  margin: 0;
  padding: 0;
  box-sizing: border-box; //Border and padding not added to the total width or high in the box
}

html {
  //scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background-color: $color-white;
  color: $color-black;
  font-family: "Inter";
  font-style: normal;

  line-height: 26px;
}
.ratting-section {
  padding: 10rem;
  background-color: $color-grey-light-3;
}
.section-retour-sondage {
  padding: 10rem;
  background-color: $color-grey-light-3;
  color: rgba(0, 0, 0, 0.6);
}
