* {
  //Applaying 0 padding and margin to each element in html page, to start clean
  margin: 0;
  padding: 0;
  box-sizing: border-box; //Border and padding not added to the total width or high in the box
}

html {
  //scroll-behavior: smooth;
}
body {
  background-color: $color-white;
  color: $color-black;
  //font-family: 65%; //
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}
.ratting-section {
  padding: 10rem;
  background-color: $color-grey-light-3;
}
