.dropDown {
  background: $color-grey-dark-2;
  position: relative;

  &__select {
    padding: 1rem;
  }
  &__list {
    &--option {
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 1rem;
      overflow: hidden;

      &:hover {
        background: $color-primary;
      }
    }
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(168, 168, 164);

    height: 100%;
    width: 6rem;
    &:hover {
      cursor: pointer;
    }
    &::after,
    &::before {
      --size: 1em;
      content: "";
      position: absolute;
      width: 0;
      height: 0;

      left: 50%;

      transform: translate(-50%, -50%);
    }

    &::before {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-bottom: var(--size) solid rgb(121, 117, 117);
      top: 50%;
    }
    &::after {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-top: var(--size) solid rgb(87, 83, 83);
      top: 50%;
    }
  }
}

.custom-arrowA {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $color-grey-dark-2;

  height: 100%;
  width: 4rem;
  //pointer-events: none; //
}
.custom-arrowB {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $color-grey-dark-2;

  height: 100%;
  width: 4rem;
  //pointer-events: none; //
}

.custom-arrowB::before,
.custom-arrowA::after {
  --size: 0.5em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;

  transform: translate(-50%, -50%);
}

.custom-arrowB::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid $color-grey-dark-3;
  top: 50%;
}
.custom-arrowA::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid $color-grey-dark-3;
  top: 50%;
}

.hide {
  display: none;
}
.show {
  display: block;
}

///////
///
///
.sondage-section {
  height: 100vh;
  display: grid;
  grid-template-columns: /* max-content 1fr */ min-content 1fr;

  &__left {
    background: $color-primary;
    display: grid;
    grid-template-rows: repeat(12, 1fr);

    &--up {
      grid-row: 1/3;
      border-bottom: 2px solid;
      margin-bottom: 3rem;
      align-self: center;
    }

    &--center {
      grid-row: 3/9;
      text-align: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
    }
    &--down {
      grid-row: 10/-1;
      background: $color-grey-light-1;
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
  }
  /////
  ///
  ///
  ///
  &__right {
    height: 100%;
    overflow: auto scroll;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
  }
}

.right {
  &__header {
    grid-row: 1/2;
  }
  &__date {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 4px;

    &--ajouter {
      background: $color-secondary;
      width: 151px;
      padding: 8.3px 16px;
      margin-right: 1rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      background-color: $color-secondary;
      transition: all 0.2s ease-in;
      //height: 57px;
      &:hover {
        @include btn-animation;
      }
    }
  }
  &__card {
    grid-row: 3/-1;
  }
}

.manager {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  //font-size: 1.5rem;
  &__GD {
    display: inline-block;
    margin-right: 1.5rem;
    padding: 1rem 1.6rem;
    border: 1px solid $color-black;
    border-radius: 5px;
    align-self: center;
    text-align: center;
    font-weight: 600;
  }
  &__name {
    &--name {
      font-weight: 700;
    }
  }
}

.connecexion {
  text-align: center;
  margin-bottom: 0.2rem;

  &__btn {
    padding: 8px 16px;
    width: 15rem;
    font-weight: 700;
    box-shadow: 0rem 2rem 3rem rgba($color-black, $alpha: 0.2);
    transition: all 0.2s ease-in;
    &:hover {
      cursor: pointer;
      @include btn-animation;
    }
  }
}

.leftDown {
  padding: 0.5rem;
  margin-bottom: auto;
  &__magasin {
    display: flex;
    margin-bottom: 1.5rem;
    &--icon {
      margin-right: 4rem;
    }
  }
}

////////drop list
.drop {
  flex: 2;

  text-align: center;
  width: 19rem;
  height: 4rem;

  &__select {
    background: $color-grey-light-2;
    padding: 0.5rem;
    position: relative;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.4);
  }
  &__list {
    height: 5rem;
    overflow: auto scroll;
    background: $color-grey-light-2;
    position: absolute;
    width: 19rem;
    z-index: 1;
    border-radius: 4px;
    margin-top: 2px;
    &--option {
      cursor: pointer;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      overflow: hidden;
      padding: 0.5rem;

      &:hover {
        background: $color-tertiary;
      }
    }
  }
}

.custom-arrow,
.custom-arrow2 {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $color-grey-light-2;
  border-radius: 4px;
  height: 100%;
  width: 5rem;
  &::after {
    --size: 0.5em;
    content: "";
    position: absolute;
    width: 0;
    height: 0;

    left: 70%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    cursor: pointer;
  }
}

.custom-arrow {
  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid $color-grey-dark-3;
    top: 50%;
  }
}

.custom-arrow2 {
  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid $color-grey-dark-3;
    top: 50%;
  }
}

.scroll {
  height: 80vh;
  overflow: auto scroll;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.programmedSurvey {
  &__header {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    justify-items: center;
    text-align: center;

    &--title {
      margin-right: auto;
      margin-left: 3rem;
    }
    &--duration {
      margin-right: 3rem;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  &__statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 1.5rem;

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.runningSurvey {
  &__header {
    display: flex;

    margin-top: 1.5rem;
    &--title {
      margin-right: auto;
      margin-left: 3rem;
    }
    &--duration {
      margin-right: 3rem;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  &__statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 1.5rem;
  }
}

.finishedSurvey {
  &__header {
    display: flex;

    margin-top: 1.5rem;
    &--title {
      margin-right: auto;
      margin-left: 3rem;
    }
    &--duration {
      margin-right: 3rem;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  &__statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 1.5rem;
  }
}

.ajouter {
  &__icon {
    margin-right: 0.6rem;
  }
  &__text {
    border: none;
    background: $color-secondary;
  }
}

.link {
  text-decoration: none;
  &:visited,
  &:link {
    color: rgba(0, 0, 0, 0.6);
  }
}
