.activeS {
  border-bottom: 2px solid black;
  padding: 0.2rem 0.5rem;
  display: inline-block;
}
.activeA {
  border-bottom: 2px solid black;
  padding: 0.2rem 0rem;
}

.noActive {
  color: rgba(0, 0, 0, 0.38);
}

.btn {
  padding: 16px 16px;
  background: $color-error;
  display: inline-block;
  color: $color-grey-light-2;
  border-radius: 2px;
  border: none;
  &:hover {
    @include btn-animation;
  }
}

.small-border {
}

.sbm {
  margin-bottom: 1rem;
}
