$color-primary: #00c897;
$color-success: #2bc768;
$color-error: #f35421;

$color-secondary: #ffc959;

$color-white: white;
$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #d8d8d8;
$color-grey-dark-1: #d3d3d3;
$color-grey-dark-2: #c1c1c1;
$color-grey-dark-3: grey;

$color-black: rgba(0, 0, 0, 0.87);
$color-black-2: rgba(43, 42, 42, 0.87);
